/* CSS RESET */
*{
    margin: 0;
    padding: 0;
}



h1{
    text-align: center;
    font-size: 2.5rem;
    color: rgb(0 ,0 ,0);
    padding: 15px;
}

#bg img{
    height: 100%;
    width: 100% ;
    position: absolute;
    justify-content: center;
    z-index: -1;
}

.center{
    text-align: center;
}

.h-primary{
    font-size: 1.3rem;
    padding: 10px;
    color: black;
}

#services{
    /* margin: 540px 540px; */
    display:inline-block;
    cursor:pointer;
}

#services .box{ 
    border: 2px solid brown;
    padding: 24px;
    margin: 5px 55px;
    border-radius: 28px;
    background: #f2f2f2;
}

